$color-black: #11114E; 

$color-dark: #505353;

$color-white: #FFFFFF;

$color-green: #90AB26;

$color-lightgreen: #B2D235;

$color-lightwhite: #FEFFFF;

$color-bg-php: #3F6185;

$color-bg-larabvel: #DC594C;

$color-bg-htmlcssjs: #556598;

$color-bg-css: #24ABE2;

$color-bg-rail: #E14E40;

$color-bg-java: #1B75BB;

$color-btn-boxshadow: #6F8710;

$color-gray: #e5e5e5;

