.footer {
  font-family: $font_UTM_BryantLG;
  color: $color-white;
  background-color: $color-dark;
  position: relative;

  &-container {
    height: 270px;
    display: flex;
  }

  &-slogan {
    margin-left: 65px;
    font-size: 20px;
    line-height: 25px;
  }

  &-text {
    color: $color-white !important;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
  }

  &-nav {
    padding-top: 68px;
    padding-bottom: 68px;
  }
  
  &-iconandlink {
    vertical-align: middle;
  }

  &-icon {
    color: $color-dark;
    border-radius: 50%;
    background-color: $color-white;
    background-position: center center;
    background-size: contain;
    position: relative;
    margin-left: 35px;
    cursor: pointer;
    border: none;

    img {
      width: 50px;
      height: 50px;
    }
  }
  
  .txt-hidden {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 0px;
    height: 0px;
  }

  .readmore {
    text-decoration: underline 0.5px;
    margin-left: 5px;
    position: relative;
    opacity: 1;
    display: flex;
    align-items: center;
  }

  
  &-endground {
    width: 100%;
    background-color: $color-black-footer;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.05em;
    height: 38px;
  }
}

@media screen and (max-width: 900px) and (min-width: 575px) {
  .footer {
    &-logo {
      margin-top: 20px;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      padding: 0px;

      img {
        width: 170px;
        height: 35px;
      }
    }

    &-slogan {
      margin-left: 0px;
      font-size: 16px;
      line-height: 20px;
    }

    &-text {
      font-size: 18px;
      line-height: 22px;
    }

    &-icon {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .footer {
    height: 391px;

    .readmore {
      display: none;
    }

    &-container {
      position: relative;
    }

    &-logo {
      position: absolute;
      top: 234px;
      left: 31px;
      padding: 0px;
      margin: 0px;

      img {
        width: 150px;
        height: 31px;
      }
    }

    &-slogan {
      font-size: 14px;
      line-height: 17px;
      margin-left: 0px;
      width: 200px;
    }

    &-text {
      font-size: 17px;
      line-height: 21px;
    }

    &-icon {
      margin-left: 10px;
      
      img {
        width: 30px;
        height: 30px;
      }
    }

    &-nav {
      position: absolute;
      width: 100%;
    }

    &-contact {
      position: absolute;
      top: 240px;
      right: 27px;
    }

    &-endground {
      position: absolute;
      bottom: 0;
    }
    
    &-nav {
      position: absolute;
      top: 25px;
      left: 41px;
      padding: 0px;
      width: 100%;

      &-left {
        width: 50%;
      }

      &-right {
        width: 50%;
      }
    }
  }
}
