 .header {
  border-bottom: 5px solid $color-gray;

  .navbar {
    height: 150px;
    padding: 0px;

    .custom-header {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .navbar-light {
    .navbar-nav {
      .nav-link {
        color: $color-dark !important;
      }
    }
  }
 
  .nav-item {
    margin-left: 20px;
  }
 
  .nav-link {
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19.07px;
    border-radius: 17px;
  }

  .nav-link:hover {
    background-color: $color-lightgreen;
    color: $color-lightwhite !important;
  }

  .nav-link:active {
    background-color: $color-lightgreen !important;
    color: $color-lightwhite !important;
  }

  .navbar-toggler-icon {
    cursor: pointer;
  }
}

@media (max-width: 1140px) and (min-width: 768px) {
  .header {
    .navbar
      .custom-header {
        flex-direction: column ;
      }

    .navbar-branch {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .navbar-branch img {
      width: 300px;
      height: 61.74px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    .navbar {
      height: 62px;

      .custom-header {
        margin-left: 21px ;
        margin-right: 39px;
        justify-content: flex-start;
      }
    }

    .navbar-toggler {
      border: none;
      padding: 0px;
    }

    .navbar-toggler-icon {
      width: 18px;
      height: 24px;
    }

    .navbar-branch {
      padding: 0px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    .navbar-branch img {
      width: 150px;
      height: 26.75px;
    }
  }
}
