@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('../assets/font/GoogleSans-Regular.otf') format('opentype');
  }

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
  }

@font-face {
  font-family: 'GoogleSans-Italic';
  src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
  }

@font-face {
  font-family: 'GoogleSans-BoldItalic';
  src: url('../assets/font/GoogleSans-BoldItalic.otf') format('opentype');
  }

@font-face {
  font-family: 'UTM BryantLG';
  src: url('../assets/font/utm_bryantlg-webfont.woff') format('opentype');
}

@font-face {
  font-family: 'UTM BryantLG2';
  src: url('../assets/font/utm_bryantlg-webfont.woff2') format('opentype');
}

$color-black: #11114E; 

$color-dark: #505353;

$color-white: #FFFFFF;

$color-lightgreen: #B2D235;

$color-lightwhite: #FEFFFF;

